body {
    margin: 0;
    background-color: #717171;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 8px;
    z-index: 1;
    position: fixed;
    display: flex;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 2px 6px rgba(0,0,0,.3);
    z-index: 1;
    display: flex;
  }


.menu-bar {
    background-color:#585858;
    display: flex;
    padding: 18px;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'IBM Plex Mono', monospace;
    text-decoration: none;
    z-index: 2;
}

.menu-item a {
    height: fit-content;
    width: fit-content;
    color: #1d1d1d;
    text-decoration: none;
    transition: all 0.3s, color 0s;
    font-size: 24px;
    display: flex;
    padding-left: 9px;
    padding-right: 9px;
}

.menu-item a:hover {
    background-color: #4B4B4B;
    display: flex;
    border-radius: 2px;
    padding: 18px 0;
    padding-left: 9px;
    padding-right: 9px;
    box-shadow: 0px 0px 2px 2px #4B4B4B;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    margin: 1%;
    flex-grow: 1;
}

.content {
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 12%;
    font-size: 18px;
    font-family: 'Chivo Mono', monospace;
    border: 1px;
}

.text {
    margin: 3px;
    margin-top: 9px;
    margin-bottom: 9px;
}

.text-style {
    background-color: #8B8B8B;
    border-radius: 9px;
    box-shadow: 0px 0px 2px 2px #8B8B8B;
}


.portrait {
    margin-right: 5px;
    display: fixed;
    width: 30%;
    height: 30%;
    background-color: #656565;
    border-radius: 9px;
    padding-top: 1px;
    float: left;
    box-shadow: 0px 0px 2px 2px #656565;
}

.menu-contact {
    display: flex;
    position: fixed;
    right: 22px;
}

.menu-contact a {
    text-decoration: underline;
    display: flex;
    color: #1d1d1d;
}

.menu-contact :hover {
    color: #080808;
}

.image-bar {
    position: relative;
    background-color: #8B8B8B;
    margin: 18px;
    max-height: 20%;
    border: 4px;
    padding: 4px;
    display: flex;
    overflow-x: scroll;
    box-shadow: 0px 0px 2px 2px #8B8B8B;
    border-radius: 9px;
}

.img-item {
    max-width: 40%;
    height: auto;
    width: 40%;
    display: flex;
    border: 10px;
    margin: 10px;
    object-fit: contain;

}

.footer a {
    display: flex;
    background-color: #585858;
    width: 100%;
    padding: 2.3%;
    bottom: 0%;
    justify-content: center;
    font-family: 'Chivo Mono', monospace;
    text-decoration: none;
    color: #1d1d1d;
}

.footer a :hover {
    color: #080808;
}





